{% extends "base.html.twig" %}

{% block body %}
    <h1>Weapon skin :</h1>
    <table>
        <tr>
            <th>name</th>
            <th>auteur</th>
            <th>date</th>
            <th>description</th>
            <th>beauty</th>
            <th>type</th>
            <th>price</th>
        </tr>
        <tr>
            <td>{{ weaponskin.name }}</td>
            <td>{{ weaponskin.user.email }}</td>
            <td>{{ weaponskin.createdAt|date("Y")}}</td>
            <td>{{ weaponskin.text }}</td>
            <td>{{ weaponskin.beauty }}</td>
            <td>{{ weaponskin.type }}</td>
            <td>{{ weaponskin.price }}</td>
        </tr>
    </table>
{% endblock %}
