{% extends "base.html.twig" %}

{% block body %}
     <ul>
         <li>{{ weapon.name }}</li>
         <li>{{ weapon.createdAt|date }}</li>
         <li>{{ weapon.text }}</li>
         <li>{{ weapon.beauty }}</li>
         <li>{{ weapon.type }}</li>
         <li>{{ weapon.price }}</li>
     </ul>
    <a href="{{ path('app_noteskin_add', {'id': weapon.id })  }}" ><button>Ajouter note</button></a>

    {% for note in notes %}
        <ul>
            <li>{{ note.note }}</li>
        </ul>
    {% endfor %}
{% endblock %}