{% extends 'base.html.twig' %}


{% block body %}

    <h2>index Skin</h2>

    {% if app.session.flashBag.has('success') %}
        {% for msg in app.session.flashBag.get('success') %}
           <p> {{ msg }} </p>
        {% endfor %}
    {% endif %}

    <ul>
        {% for skin in skins %}

            <li>

                {{ skin.name }} - {{ skin.price }} - {{ skin.user.email }} - <a href="{{ path('skin_show', {'id': skin.id}) }}">Show</a>

            </li>

        {% endfor %}
    </ul>
{% endblock %}