{% extends 'base.html.twig' %}
{% block title %}Index skin{% endblock %}

{% block body %}
    <h1>Index skin</h1>
    <br/>

    <ul>
        {% for skin in skins|sort %}
            <li> {{ skin.name }} , {{ skin.price }} - created by {{ skin.user }} <a href="{{ path('skin_view', {id: skin.id}) }}">Voir plus...</a></li>
            <br/>
        {% endfor %}
        <a href="{{ path('skin_add') }}">Ajouter un skin</a>
    </ul>
{% endblock %}
