<ul>
    <li><a href="{{ path('home_index') }}">Index</a></li>
    <li><a href="{{ path('weapon_index') }}">User</a></li>
    <li><a href="{{ path('admin_index') }}">Admin</a></li>
    {% if is_granted('ROLE_USER') %}
        <li><a href="{{ path('logout') }}">Déconnexion</a></li>
        <li>I am {{ app.user.firstname }} {{ app.user.lastname }}</li>
    {% endif %}
</ul>